#box{
    background-color: bisque;
    height: 300px;
    width: 700px;
    visibility: hidden;
    /* margin-left: 500px; */
}
body{
    background-color: lightblue;
}
#box.show{
    visibility: visible;
}
.icon:hover{
    /* display: inline-block; */
    /* position: relative; */
    background-color: brown;
}